body {
  text-align: center;
}

.top-container {
  float: left;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;
}

.middle-container {
  float: right;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;
}

.bottom-container {
  float: none;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;
}

img {
  width: 30%;
}