body {
  text-align: center;
}

.top-container {
  display: inline-block;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;
  background-color: coral;
}

.middle-container {
  display: inline-block;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;background-color: cornflowerblue;

}

.bottom-container {
  display: inline-block;
  margin: 0 20px 0 20px;
  padding: 20px;
  width: 30%;
  background-color: chartreuse;
}

img {
  width: 30%;
}